<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    <script
      src="https://kit.fontawesome.com/36ab48d395.js"
      crossorigin="anonymous"
    ></script>
    <title>Moto Torque</title>
  </head>
  <body>
    <header>
      <nav>
        <!-- top navbar -->
        <div class="nav-wrapper blue-grey darken-3">
          <a href="{{ url_for('home') }}" class="brand-logo left"
            ><i class="fa-solid fa-motorcycle"></i>Moto Torque</a
          >
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right"
            ><i class="fa-solid fa-bars"></i
          ></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a
                class="waves-effect waves-light btn modal-trigger"
                href="#browse_modal"
                >Browse</a
              >
            </li>
            <li>
              <a
                href="{{ url_for('add_word') }}"
                class="waves-effect waves-light btn add_link"
                >Add +</a
              >
            </li>
            <li><a href="{{ url_for('signin') }}">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li>
              <a
                href="{{ url_for('signup') }}"
                class="waves-effect waves-light btn sign_link"
                >Sign Up!</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <!-- mobile sidenav -->
      <ul class="sidenav" id="mobile-demo">
        <li>
          <a
            class="waves-effect waves-light btn modal-trigger"
            href="#browse_modal"
            >Browse</a
          >
        </li>
        <li>
          <a
            href="{{ url_for('add_word') }}"
            class="waves-effect waves-light btn add_link"
            >Add +</a
          >
        </li>
        <li><a href="{{ url_for('signin') }}">Login</a></li>
        <li><a href="#">Logout</a></li>
        <li>
          <a
            href="{{ url_for('signup') }}"
            class="waves-effect waves-light btn sign_link"
            >Sign Up!</a
          >
        </li>
      </ul>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    <!-- Browse Modal Structure -->
    <div id="browse_modal" class="modal">
      <div class="modal-content">
        <h4>Browse</h4>
        <table>
          <tr>
            <td><a href="{{url_for('browse', type='A')}}">A</a></td>
            <td><a href="{{url_for('browse', type='B')}}">B</a></td>
            <td><a href="{{url_for('browse', type='C')}}">C</a></td>
            <td><a href="{{url_for('browse', type='D')}}">D</a></td>
            <td><a href="{{url_for('browse', type='E')}}">E</a></td>
            <td><a href="{{url_for('browse', type='F')}}">F</a></td>
            <td><a href="{{url_for('browse', type='G')}}">G</a></td>
          </tr>
          <tr>
            <td><a href="{{url_for('browse', type='H')}}">H</a></td>
            <td><a href="{{url_for('browse', type='I')}}">I</a></td>
            <td><a href="{{url_for('browse', type='J')}}">J</a></td>
            <td><a href="{{url_for('browse', type='K')}}">K</a></td>
            <td><a href="{{url_for('browse', type='L')}}">L</a></td>
            <td><a href="{{url_for('browse', type='M')}}">M</a></td>
            <td><a href="{{url_for('browse', type='N')}}">N</a></td>
          </tr>
          <tr>
            <td><a href="{{url_for('browse', type='O')}}">O</a></td>
            <td><a href="{{url_for('browse', type='P')}}">P</a></td>
            <td><a href="{{url_for('browse', type='Q')}}">Q</a></td>
            <td><a href="{{url_for('browse', type='R')}}">R</a></td>
            <td><a href="{{url_for('browse', type='S')}}">S</a></td>
            <td><a href="{{url_for('browse', type='T')}}">T</a></td>
            <td><a href="{{url_for('browse', type='U')}}">U</a></td>
          </tr>
          <tr>
            <td><a href="{{url_for('browse', type='V')}}">V</a></td>
            <td><a href="{{url_for('browse', type='W')}}">W</a></td>
            <td><a href="{{url_for('browse', type='X')}}">X</a></td>
            <td><a href="{{url_for('browse', type='Y')}}">Y</a></td>
            <td><a href="{{url_for('browse', type='Z')}}">Z</a></td>
          </tr>
          <tr>
            <td><a href="{{url_for('browse', type='0')}}">0</a></td>
            <td><a href="{{url_for('browse', type='1')}}">1</a></td>
            <td><a href="{{url_for('browse', type='2')}}">2</a></td>
            <td><a href="{{url_for('browse', type='3')}}">3</a></td>
            <td><a href="{{url_for('browse', type='4')}}">4</a></td>
          </tr>
          <tr>
            <td><a href="{{url_for('browse', type='5')}}">5</a></td>
            <td><a href="{{url_for('browse', type='6')}}">6</a></td>
            <td><a href="{{url_for('browse', type='7')}}">7</a></td>
            <td><a href="{{url_for('browse', type='8')}}">8</a></td>
            <td><a href="{{url_for('browse', type='9')}}">9</a></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat"
          >Close</a
        >
      </div>
    </div>

    <footer class="page-footer blue-grey darken-3">
      <div class="footer-copyright">
        <div class="container right-align">© 2023 CLawrence</div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
