{% extends "base.html" %} {% block content %}

<div class="row">
  <h3>{{ letter }}</h3>
  {% for ent in entry %}
  <div class="col s12">
    <div class="card blue-grey darken-3">
      <div class="card-content white-text">
        <span class="card-title">{{ ent.word_phrase }}</span>
      </div>
      <div>
        <p>{{ ent.definition }}</p>
      </div>
      <div>
        <p>{{ ent.example }}</p>
      </div>
      <div class="card-action"></div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
