{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-3">
      <div class="card-content white-text">
        <span class="card-title">Enter your details to sign up!</span>
        <div class="row">
          <form class="col s12" method="POST" action="{{ url_for('signup') }}">
            <div class="row">
              <div class="input-field col s12">
                <input
                  id="email"
                  name="email"
                  type="email"
                  maxlength="120"
                  class="validate"
                  required
                />
                <label for="email">Enter your Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  id="username"
                  name="username"
                  type="text"
                  maxlength="50"
                  class="validate"
                  required
                />
                <label for="username">Enter a Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input
                  id="password_hash"
                  name="password_hash"
                  type="password"
                  maxlength="128"
                  class="validate"
                  required
                />
                <label for="password_hash">Enter a password</label>
              </div>
            </div>
            <div class="card-action">
              <button
                class="btn waves-effect waves-light"
                type="submit"
                name="action"
              >
                Sign up!
                <i class="fa-solid fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  {% for our_user in our_users %}
  <p>{{ our_user.id }}</p>
  <p>{{ our_user.username }}</p>
  <p>{{ our_user.email }}</p>
  <p>{{ our_user.password_hash }}</p>

  {% endfor %}
</div>

{% endblock %}
