body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* styling for links/buttons */
.add_link {
    background-color: #43a047;
}

.add_link:hover {
    background-color: #4caf50;
}

.sign_link {
    background-color: #fb8c00;
}

.sign_link:hover {
    background-color: #ff9800;
}

/* styling for form */
input {
    color: white;
}